/*
Menu description
1. container-top
    styles of diferent elements this elements are: logo, menubar
2. contaienr-mid
    offer and other components of html
3. container-button
    information of website
*/

/*container-top*/
header{
    background-color: antiquewhite;
    padding: 20px 0;
}
.caja{
    position: relative;
    width: 940px;
    margin:0 auto;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}



nav a{
    text-transform: uppercase;
    color: rgb(119, 64, 0);
    font-weight: bold; /*esto es para negrita*/
    font-size: 22px;
    text-decoration: none;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(160, 86, 2, 0.582);
    border-top-width: 7px;
    border-radius: 10px;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    margin-top: 10px;
}

nav a:hover{
        color: #d68100;
        text-decoration: underline;
}


.productos li:hover{
    border-color: rgb(122, 59, 0);
    color: rgb(122, 59, 0);
}

.productos li:hover h2{
    font-size: 34px;
}

.productos li:hover .producto-descripcion{
    font-size: 20px;
}
.productos li:hover .producto-precio{
    font-size: 22px;
}
.productos li:active{
    border-color: rgb(122, 59, 0);
}

footer{
    padding: 40px 0;
    background: url(./imagenes/bg.jpg);
    color: white;
    text-align: center;
    align-items: center;
}

.footer-parrafo{
    display: block;
    padding: 5px 0;
}

.img-footer-logo:hover {
    border: 2px solid white;
}

/*estilos pagina de contacto*/
main{
    width: 940px;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    align-items: center;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    text-align: left;
    width: 55%;
}

form input, input textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

form .enviar{
    width: 30%;
}

.input-padron{
    display: inline-block;
    margin: 0 0 10px;   
    padding: 5px 25%;
    width: 30% 0;
    align-items: center;
    
}

.p-metodo-de-contacto{
    width: auto;
    align-items: center;
    padding: 20px 20px;
    font-size: 20px;
}

form .item-option-individual{
    display: inline-block;
    display: flex;
    flex-direction: row;
}

.items-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.div-notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

}
.class-of-notification{
    display: flex;
    
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 50px;
    
}

.width-contact-check{
    width: 36%;
    align-items: center;
    align-content: center;
    margin: auto;
}

.enviar{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(56, 30, 0);
    font-size: 20px;
    padding: 18px 60px;
    align-content: center;
    text-align: center;
    transition: 1s all;
    border: none;
    border-radius: 7px;
}

.enviar:hover{
    transform: scale(1.2);
    background-color: rgb(92, 49, 0);
}